html {
	padding: 0;
	margin: 0;
	font-style: normal;
	color: #333;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "黑体";
}
body {
	-webkit-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: antialiased;
	background: #eff1f3;
	padding-bottom: 7px;
	font-weight: normal;
}
a {
	text-decoration: none;
	color: #4C90F9;
	font-weight: bold;
}

body > section {
	margin: 0.1333rem 0.05rem;
	background: white;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, .11);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, .11);
	border: #e5e8e8 solid 0.5px;
	border-radius: 2px;
}
section > h1 {
	padding: 0.08rem 0.16rem 0.08rem 0.16rem;
	line-height: 24px;
	position: relative;
	font-size: 0.15rem;
}
section > h1:before {
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 2%;
	width: 96%;
	height: 1px;
	background: #e0e0e0;
}
section > h1:last-child:before {
	display: none;
}
section > h1 > b {
	font-size: 11px;
	color: #4c90f9;
	float: right;
	background: #f5f7fb;
	-webkit-border-radius: 0.24rem;
	border-radius: 0.24rem;
	line-height: 0.24rem;
	margin: 2px 0;
	padding: 2px 0.08rem 1px;
}
section > article {
	padding: 0.12rem 0.16rem 0.12rem 0.16rem;
	line-height: 0.24rem;
	position: relative;
	word-break: break-all;
	word-wrap: break-word;
	font-size: 0.13rem;
}

section > article:before {
	content: "";
	display: block;
	position: absolute;
	bottom: -1px;
	left: 2%;
	width: 96%;
	height: 1px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABVJREFUeNpi/v//PwPju4+f/gMEGAAhgwbSjfJp9AAAAABJRU5ErkJggg==) 0 100%;
	background-size: 10px 1px;
}
section > article:last-child:before {
	display: none;
}
/* section article  b {
	font-size: 11px;
	font-size: 0.14666666666666667rem;
	color: #4c90f9;
	float: right;
	background: #f5f7fb;
	border-radius: 0.24rem;
	line-height: 0.24rem;
	margin: -2px 0 2px 0;
	padding: 2px 0.08rem 0;
} */
section > article .name {
	color: #666;
}
section > article > .desc {
	color: #999;
	font-size: 0.12rem;
}

.link {
	float: right;
}
.link + .link{
	margin-left: 5px;
}
.inline-install[data-appid^="{appid}"]{
	display: none;
}